.wrap
    min-height 100vh
    font-size 0
    position relative 
    .ctx-body
        height calc(100vh - 1.2rem /* 120/100 */)
        overflow-y scroll
        overflow-x hidden
        background #fff
        .swiper-wrap 
            .swiper-container
                height 3.75rem /* 375/100 */
                .swiper-slide>img
                    width 100%
                    height 3.75rem /* 375/100 */
            .swiper-pagination
                height .46rem /* 46/100 */
                padding .18rem /* 18/100 */
                position relative
                display flex
                justify-content center
                align-items center
                .swiper-pagination-bullet
                    height .1rem /* 10/100 */
                    width .1rem /* 10/100 */
                    margin 0 7.5px 
                    border-radius 50%
        .main
            width 100%
            padding 0 .3rem /* 30/100 */
            .nav-tab-wrap
                padding-top .14rem /* 14/100 */
                padding-bottom .35rem /* 35/100 */
                .nav-tabs
                    display flex
                    align-items center
                    overflow-x scroll
                    overflow-y hidden
                    .tab>a
                        display block
                        text-align center
                        text-decoration none
                        margin-right .375rem /* 37.5/100 */
                        i
                            width 1.08rem /* 108/100 */
                            height 1.08rem /* 108/100 */
                            display block
                        span
                            font-size .26rem /* 26/100 */
                            line-height .26rem /* 26/100 */
                            color #333333
                        .film
                            background url('../img/icon/film-icon.png')
                            background-size 1.08rem /* 108/100 */ 1.08rem /* 108/100 */
                        .drama
                            background url('../img/icon/drama-icon.png')
                            background-size 1.08rem /* 108/100 */ 1.08rem /* 108/100 */
                        .variety
                            background url('../img/icon/variety-icon.png')
                            background-size 1.08rem /* 108/100 */ 1.08rem /* 108/100 */
                        .comic
                            background url('../img/icon/comic-icon.png')
                            background-size 1.08rem /* 108/100 */ 1.08rem /* 108/100 */
                        .child
                            background url('../img/icon/child-icon.png')
                            background-size 1.08rem /* 108/100 */ 1.08rem /* 108/100 */
            .fall-wrap
                margin-bottom .4rem /* 40/100 */
                .fall-head
                    display flex
                    justify-content space-between
                    align-items center
                    .fall-name
                        font-size .32rem /* 32/100 */
                        color #333333
                        line-height .42rem /* 42/100 */
                        margin-left .2rem /* 20/100 */
                        position relative
                        &:before
                            content ''
                            display block
                            position absolute   
                            width .06rem /* 6/100 */
                            height .32rem /* 32/100 */
                            background #0076FF
                            left -0.14rem /* 14/100 */
                            border-radius .03rem /* 3/100 */
                            top .05rem /* 5/100 */    
                    .more
                        font-size .24rem /* 24/100 */
                        color #666666   
                        text-decoration none
                .fall-body
                    margin-top .2rem /* 20/100 */
                    &>li
                        display inline-block
                        a
                            display block
                            width 3.35rem /* 335/100 */
                            height 1.89rem /* 189/100 */
                            border-radius .1rem /* 10/100 */
                        .film-name
                            font-size .24rem /* 24/100 */
                            color #333
                            line-height .3rem /* 30/100 */
                            text-align center
                            width 3.08rem /* 308/100 */
                            text-overflow ellipsis
                            white-space nowrap
                            overflow hidden
                            margin .2rem /* 20/100 */ auto 0    
                        for m in (1..10)
                            .film-img-m{m}  
                                background url("../img/section/m"+m+".png")
                                background-size cover
                                background-position center
                        &:first-child
                            margin-right .19rem /* 19/100 */
            .end
                text-align center
                margin-bottom .5rem /* 50/100 */
                img
                    width .4rem /* 40/100 */
                    height .4rem /* 40/100 */
                p
                    font-size .24rem /* 24/100 */
                    color #ccc
                    margin-top .13rem /* 13/100 */
            .search-box
                width 100%
                height .6rem /* 60/100 */
                border-radius .3rem /* 30/100 */
                border .02rem /* 2/100 */solid #D6D6D6
                margin-top .4rem /* 40/100 */
                display flex
                align-items center
                padding-left .3rem /* 30/100 */
                padding-right .24rem /* 24/100 */
                input
                    border 0
                    outline none
                    height .4rem /* 40/100 */
                    flex 1
                .search-icon
                    display block
                    width .4rem /* 40/100 */
                    height .4rem /* 40/100 */
                    background url('../img/icon/search-icon.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
            .nav-box-wrap
                margin-top .5rem /* 50/100 */
                margin-bottom .5rem /* 50/100 */
                .main-nav-wrap
                    overflow-x scroll
                    .main-nav
                        margin-bottom .46rem /* 46/100 */
                        white-space nowrap
                        li
                            display inline-block
                            margin-right .4rem /* 40/100 */
                            a
                                font-size .32rem /* 32/100 */
                                color #333333
                                line-height .42rem /* 42/100 */
                                text-decoration none
                        .active a
                            color #0076FF
                            position relative
                            &:after
                                content ''
                                display block
                                position absolute
                                bottom 0
                                left .07rem /* 7/100 */
                                bottom -0.13rem /* 13/100 */
                                width calc(100% - .14rem /* 14/100 */)
                                height .08rem /* 8/100 */
                                border-radius .05rem /* 5/100 */
                                background #0076FF
                .sub-nav
                    margin-bottom .3rem /* 30/100 */
                    white-space nowrap
                    display flex
                    align-items center
                    overflow-x scroll
                    li
                        position relative
                        display inline-block
                        margin-right .36rem /* 36/100 */
                        a
                            font-size .26rem /* 26/100 */
                            color #333
                            line-height .44rem /* 44/100 */
                            text-decoration none
                    .active 
                        margin-right .22rem /* 22/100 */
                        a
                            color #0076FF
                            padding .045rem /* 4.5/100 */.18rem /* 18/100 */
                            line-height .35rem /* 35/100 */
                            background #F3F3F3
                            border-radius .22rem /* 22/100 */
            .search
                margin-bottom .2rem /* 20/100 */
            .simple-fall-wrap
                display flex
                flex-wrap wrap
                .simple-fall
                    text-align center
                    margin-right .1rem /* 10/100 */
                    margin-bottom .4rem /* 40/100 */
                    width 2.23rem /* 223/100 */
                    a
                        display block
                        width 2.23rem /* 223/100 */
                        height 2.98rem /* 298/100 */
                        border-radius .1rem /* 10/100 */
                    for mv in (1..6)
                        .simple-fall-img-mv{mv}
                            background url("../img/section/mv"+mv+".png")
                            background-size cover
                            background-position center
                    &:nth-child(3n)
                        margin-right 0
                    .simple-fall-name
                        font-size .24rem /* 24/100 */
                        color #333
                        width 100%
                        padding 0 .07rem /* 7/100 */
                        line-height .3rem /* 30/100 */
                        margin-top .23rem /* 23/100 */
                        white-space nowrap
                        text-overflow ellipsis
                        overflow hidden
            .search-list-wrap
                .search-item
                    display flex
                    margin-bottom .5rem /* 50/100 */
                    a
                        display block
                        width 2.7rem /* 270/100 */
                        height 3.6rem /* 360/100 */
                        margin-right .3rem /* 30/100 */
                        border-radius .1rem /* 10/100 */
                    for mv in (1..6)
                        .search-item-mv{mv}
                            background url("../img/section/mv"+mv+".png")
                            background-size cover
                            background-position center
                    .search-item-info
                        flex 1
                        h3
                            font-size .36rem /* 36/100 */
                            color #333
                            line-height .47rem /* 47/100 */
                            margin-bottom .14rem /* 14/100 */
                        p
                            font-size .24rem /* 24/100 */
                            line-height .42rem /* 42/100 */
                            color #666
                            width 3.6rem /* 360/100 */
                            text-overflow ellipsis
                            overflow hidden
                            white-space nowrap
                        button
                            width 2.4rem /* 240/100 */
                            height .66rem /* 66/100 */
                            color #0076FF
                            border .02rem /* 2/100 */ solid #D6D6D6
                            border-radius .14rem /* 14/100 */
                            outline none
                            background #fff
                            margin-top .24rem /* 24/100 */
    .ctx-footer
        height 1.2rem /* 120/100 */
        display flex
        background #fff
        box-shadow 0px 0px 30px 0px rgba(0,0,0,0.1)
        ul
            width 100%
            display flex
            padding 0 .9rem /* 90/100 */
            justify-content space-between
            align-items center
            li>a
                display inline-block
                text-align center
                text-decoration none
                i
                    display block
                    margin 0 auto
                    width .4rem /* 40/100 */
                    height .4rem /* 40/100 */
                .recommend
                    background url('../img/icon/recommend.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .movies
                    background url('../img/icon/movies.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .member
                    background url('../img/icon/member.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .my
                    background url('../img/icon/my.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .title
                    font-size .22rem /* 22/100 */
                    display inline-block
                    color #6D6D6D
                    line-height .3rem /* 30/100 */
                    margin-top .09rem /* 9/100 */
            .active
                .recommend
                    background url('../img/icon/recommend-active.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .movies
                    background url('../img/icon/movies-active.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .member
                    background url('../img/icon/member-active.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .my
                    background url('../img/icon/my-active.png')
                    background-size .4rem /* 40/100 */.4rem /* 40/100 */
                .title
                    font-size .22rem /* 22/100 */
                    display inline-block
                    color #0076FF
                    line-height .3rem /* 30/100 */
                    margin-top .09rem /* 9/100 */
    .advertisement
        position absolute
        bottom 1.34rem /* 134/100 */
        right .15rem /* 15/100 */
        display block
        width 1.8rem /* 180/100 */
        height 1.8rem /* 180/100 */
        z-index 1000
        &>img
            width 1.8rem /* 180/100 */
            height 1.8rem /* 180/100 */