@import 'base.styl'
.movie-detail
    margin-top .4rem /* 40/100 */
    .search-item 
        margin-bottom .4rem !important/* 40/100 */
        .search-item-info button
            width 1.7rem !important/* 170/100 */
            line-height .66rem /* 66/100 */
            text-align center
            i
                display inline-block
                width .32rem /* 32/100 */
                height .32rem /* 32/100 */
                vertical-align sub
                margin-right .1rem /* 10/100 */
            .star
                background url('../img/icon/star-icon.png')
                background-size .32rem /* 32/100 */.32rem /* 32/100 */
            .shopCart
                background url('../img/icon/shopCart-icon.png')
                background-size .32rem /* 32/100 */.32rem /* 32/100 */
        .collect
            margin-right .3rem /* 30/100 */
.desc,.relate
    margin-bottom .4rem /* 40/100 */
    dt
        font-size .32rem /* 32/100 */
        line-height .42rem /* 42/100 */
        color #333
        margin-bottom .3rem /* 30/100 */
    dd
        font-size .24rem /* 24/100 */
        color #6D6D6D
        line-height .42rem /* 42/100 */
        a
            color #6D6D6D
            text-decoration none
