.wrap {
  min-height: 100vh;
  font-size: 0;
  position: relative;
}
.wrap .ctx-body {
  height: calc(100vh - 1.2rem /* 120/100 */);
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
.wrap .ctx-body .swiper-wrap .swiper-container {
  height: 3.75rem /* 375/100 */;
}
.wrap .ctx-body .swiper-wrap .swiper-container .swiper-slide>img {
  width: 100%;
  height: 3.75rem /* 375/100 */;
}
.wrap .ctx-body .swiper-wrap .swiper-pagination {
  height: 0.46rem /* 46/100 */;
  padding: 0.18rem /* 18/100 */;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .ctx-body .swiper-wrap .swiper-pagination .swiper-pagination-bullet {
  height: 0.1rem /* 10/100 */;
  width: 0.1rem /* 10/100 */;
  margin: 0 7.5px;
  border-radius: 50%;
}
.wrap .ctx-body .main {
  width: 100%;
  padding: 0 0.3rem /* 30/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap {
  padding-top: 0.14rem /* 14/100 */;
  padding-bottom: 0.35rem /* 35/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-right: 0.375rem /* 37.5/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a i {
  width: 1.08rem /* 108/100 */;
  height: 1.08rem /* 108/100 */;
  display: block;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a span {
  font-size: 0.26rem /* 26/100 */;
  line-height: 0.26rem /* 26/100 */;
  color: #333;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a .film {
  background: url("../img/icon/film-icon.png");
  background-size: 1.08rem /* 108/100 */ 1.08rem /* 108/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a .drama {
  background: url("../img/icon/drama-icon.png");
  background-size: 1.08rem /* 108/100 */ 1.08rem /* 108/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a .variety {
  background: url("../img/icon/variety-icon.png");
  background-size: 1.08rem /* 108/100 */ 1.08rem /* 108/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a .comic {
  background: url("../img/icon/comic-icon.png");
  background-size: 1.08rem /* 108/100 */ 1.08rem /* 108/100 */;
}
.wrap .ctx-body .main .nav-tab-wrap .nav-tabs .tab>a .child {
  background: url("../img/icon/child-icon.png");
  background-size: 1.08rem /* 108/100 */ 1.08rem /* 108/100 */;
}
.wrap .ctx-body .main .fall-wrap {
  margin-bottom: 0.4rem /* 40/100 */;
}
.wrap .ctx-body .main .fall-wrap .fall-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .ctx-body .main .fall-wrap .fall-head .fall-name {
  font-size: 0.32rem /* 32/100 */;
  color: #333;
  line-height: 0.42rem /* 42/100 */;
  margin-left: 0.2rem /* 20/100 */;
  position: relative;
}
.wrap .ctx-body .main .fall-wrap .fall-head .fall-name:before {
  content: '';
  display: block;
  position: absolute;
  width: 0.06rem /* 6/100 */;
  height: 0.32rem /* 32/100 */;
  background: #0076ff;
  left: -0.14rem /* 14/100 */;
  border-radius: 0.03rem /* 3/100 */;
  top: 0.05rem /* 5/100 */;
}
.wrap .ctx-body .main .fall-wrap .fall-head .more {
  font-size: 0.24rem /* 24/100 */;
  color: #666;
}
.wrap .ctx-body .main .fall-wrap .fall-body {
  margin-top: 0.2rem /* 20/100 */;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li {
  display: inline-block;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li a {
  display: block;
  width: 3.35rem /* 335/100 */;
  height: 1.89rem /* 189/100 */;
  border-radius: 0.1rem /* 10/100 */;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-name {
  font-size: 0.24rem /* 24/100 */;
  color: #333;
  line-height: 0.3rem /* 30/100 */;
  text-align: center;
  width: 3.08rem /* 308/100 */;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.2rem /* 20/100 */ auto 0;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m1 {
  background: url("../img/section/m1.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m2 {
  background: url("../img/section/m2.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m3 {
  background: url("../img/section/m3.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m4 {
  background: url("../img/section/m4.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m5 {
  background: url("../img/section/m5.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m6 {
  background: url("../img/section/m6.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m7 {
  background: url("../img/section/m7.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m8 {
  background: url("../img/section/m8.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m9 {
  background: url("../img/section/m9.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li .film-img-m10 {
  background: url("../img/section/m10.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .fall-wrap .fall-body>li:first-child {
  margin-right: 0.19rem /* 19/100 */;
}
.wrap .ctx-body .main .end {
  text-align: center;
  margin-bottom: 0.5rem /* 50/100 */;
}
.wrap .ctx-body .main .end img {
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
}
.wrap .ctx-body .main .end p {
  font-size: 0.24rem /* 24/100 */;
  color: #ccc;
  margin-top: 0.13rem /* 13/100 */;
}
.wrap .ctx-body .main .search-box {
  width: 100%;
  height: 0.6rem /* 60/100 */;
  border-radius: 0.3rem /* 30/100 */;
  border: 0.02rem /* 2/100 */ solid #d6d6d6;
  margin-top: 0.4rem /* 40/100 */;
  display: flex;
  align-items: center;
  padding-left: 0.3rem /* 30/100 */;
  padding-right: 0.24rem /* 24/100 */;
}
.wrap .ctx-body .main .search-box input {
  border: 0;
  outline: none;
  height: 0.4rem /* 40/100 */;
  flex: 1;
}
.wrap .ctx-body .main .search-box .search-icon {
  display: block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
  background: url("../img/icon/search-icon.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-body .main .nav-box-wrap {
  margin-top: 0.5rem /* 50/100 */;
  margin-bottom: 0.5rem /* 50/100 */;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap {
  overflow-x: scroll;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap .main-nav {
  margin-bottom: 0.46rem /* 46/100 */;
  white-space: nowrap;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap .main-nav li {
  display: inline-block;
  margin-right: 0.4rem /* 40/100 */;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap .main-nav li a {
  font-size: 0.32rem /* 32/100 */;
  color: #333;
  line-height: 0.42rem /* 42/100 */;
  text-decoration: none;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap .main-nav .active a {
  color: #0076ff;
  position: relative;
}
.wrap .ctx-body .main .nav-box-wrap .main-nav-wrap .main-nav .active a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.07rem /* 7/100 */;
  bottom: -0.13rem /* 13/100 */;
  width: calc(100% - 0.14rem /* 14/100 */);
  height: 0.08rem /* 8/100 */;
  border-radius: 0.05rem /* 5/100 */;
  background: #0076ff;
}
.wrap .ctx-body .main .nav-box-wrap .sub-nav {
  margin-bottom: 0.3rem /* 30/100 */;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.wrap .ctx-body .main .nav-box-wrap .sub-nav li {
  position: relative;
  display: inline-block;
  margin-right: 0.36rem /* 36/100 */;
}
.wrap .ctx-body .main .nav-box-wrap .sub-nav li a {
  font-size: 0.26rem /* 26/100 */;
  color: #333;
  line-height: 0.44rem /* 44/100 */;
  text-decoration: none;
}
.wrap .ctx-body .main .nav-box-wrap .sub-nav .active {
  margin-right: 0.22rem /* 22/100 */;
}
.wrap .ctx-body .main .nav-box-wrap .sub-nav .active a {
  color: #0076ff;
  padding: 0.045rem /* 4.5/100 */ 0.18rem /* 18/100 */;
  line-height: 0.35rem /* 35/100 */;
  background: #f3f3f3;
  border-radius: 0.22rem /* 22/100 */;
}
.wrap .ctx-body .main .search {
  margin-bottom: 0.2rem /* 20/100 */;
}
.wrap .ctx-body .main .simple-fall-wrap {
  display: flex;
  flex-wrap: wrap;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall {
  text-align: center;
  margin-right: 0.1rem /* 10/100 */;
  margin-bottom: 0.4rem /* 40/100 */;
  width: 2.23rem /* 223/100 */;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall a {
  display: block;
  width: 2.23rem /* 223/100 */;
  height: 2.98rem /* 298/100 */;
  border-radius: 0.1rem /* 10/100 */;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv1 {
  background: url("../img/section/mv1.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv2 {
  background: url("../img/section/mv2.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv3 {
  background: url("../img/section/mv3.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv4 {
  background: url("../img/section/mv4.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv5 {
  background: url("../img/section/mv5.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-img-mv6 {
  background: url("../img/section/mv6.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall:nth-child(3n) {
  margin-right: 0;
}
.wrap .ctx-body .main .simple-fall-wrap .simple-fall .simple-fall-name {
  font-size: 0.24rem /* 24/100 */;
  color: #333;
  width: 100%;
  padding: 0 0.07rem /* 7/100 */;
  line-height: 0.3rem /* 30/100 */;
  margin-top: 0.23rem /* 23/100 */;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrap .ctx-body .main .search-list-wrap .search-item {
  display: flex;
  margin-bottom: 0.5rem /* 50/100 */;
}
.wrap .ctx-body .main .search-list-wrap .search-item a {
  display: block;
  width: 2.7rem /* 270/100 */;
  height: 3.6rem /* 360/100 */;
  margin-right: 0.3rem /* 30/100 */;
  border-radius: 0.1rem /* 10/100 */;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv1 {
  background: url("../img/section/mv1.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv2 {
  background: url("../img/section/mv2.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv3 {
  background: url("../img/section/mv3.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv4 {
  background: url("../img/section/mv4.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv5 {
  background: url("../img/section/mv5.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-mv6 {
  background: url("../img/section/mv6.png");
  background-size: cover;
  background-position: center;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-info {
  flex: 1;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-info h3 {
  font-size: 0.36rem /* 36/100 */;
  color: #333;
  line-height: 0.47rem /* 47/100 */;
  margin-bottom: 0.14rem /* 14/100 */;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-info p {
  font-size: 0.24rem /* 24/100 */;
  line-height: 0.42rem /* 42/100 */;
  color: #666;
  width: 3.6rem /* 360/100 */;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrap .ctx-body .main .search-list-wrap .search-item .search-item-info button {
  width: 2.4rem /* 240/100 */;
  height: 0.66rem /* 66/100 */;
  color: #0076ff;
  border: 0.02rem /* 2/100 */ solid #d6d6d6;
  border-radius: 0.14rem /* 14/100 */;
  outline: none;
  background: #fff;
  margin-top: 0.24rem /* 24/100 */;
}
.wrap .ctx-footer {
  height: 1.2rem /* 120/100 */;
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}
.wrap .ctx-footer ul {
  width: 100%;
  display: flex;
  padding: 0 0.9rem /* 90/100 */;
  justify-content: space-between;
  align-items: center;
}
.wrap .ctx-footer ul li>a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.wrap .ctx-footer ul li>a i {
  display: block;
  width: 0.4rem /* 40/100 */;
  height: 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul li>a .recommend {
  background: url("../img/icon/recommend.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul li>a .movies {
  background: url("../img/icon/movies.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul li>a .member {
  background: url("../img/icon/member.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul li>a .my {
  background: url("../img/icon/my.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul li>a .title {
  font-size: 0.22rem /* 22/100 */;
  display: inline-block;
  color: #6d6d6d;
  line-height: 0.3rem /* 30/100 */;
  margin-top: 0.09rem /* 9/100 */;
}
.wrap .ctx-footer ul .active .recommend {
  background: url("../img/icon/recommend-active.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul .active .movies {
  background: url("../img/icon/movies-active.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul .active .member {
  background: url("../img/icon/member-active.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul .active .my {
  background: url("../img/icon/my-active.png");
  background-size: 0.4rem /* 40/100 */ 0.4rem /* 40/100 */;
}
.wrap .ctx-footer ul .active .title {
  font-size: 0.22rem /* 22/100 */;
  display: inline-block;
  color: #0076ff;
  line-height: 0.3rem /* 30/100 */;
  margin-top: 0.09rem /* 9/100 */;
}
.wrap .advertisement {
  position: absolute;
  bottom: 1.34rem /* 134/100 */;
  right: 0.15rem /* 15/100 */;
  display: block;
  width: 1.8rem /* 180/100 */;
  height: 1.8rem /* 180/100 */;
  z-index: 1000;
}
.wrap .advertisement>img {
  width: 1.8rem /* 180/100 */;
  height: 1.8rem /* 180/100 */;
}
.movie-detail {
  margin-top: 0.4rem /* 40/100 */;
}
.movie-detail .search-item {
  margin-bottom: 0.4rem !important /* 40/100 */;
}
.movie-detail .search-item .search-item-info button {
  width: 1.7rem !important /* 170/100 */;
  line-height: 0.66rem /* 66/100 */;
  text-align: center;
}
.movie-detail .search-item .search-item-info button i {
  display: inline-block;
  width: 0.32rem /* 32/100 */;
  height: 0.32rem /* 32/100 */;
  vertical-align: sub;
  margin-right: 0.1rem /* 10/100 */;
}
.movie-detail .search-item .search-item-info button .star {
  background: url("../img/icon/star-icon.png");
  background-size: 0.32rem /* 32/100 */ 0.32rem /* 32/100 */;
}
.movie-detail .search-item .search-item-info button .shopCart {
  background: url("../img/icon/shopCart-icon.png");
  background-size: 0.32rem /* 32/100 */ 0.32rem /* 32/100 */;
}
.movie-detail .search-item .collect {
  margin-right: 0.3rem /* 30/100 */;
}
.desc,
.relate {
  margin-bottom: 0.4rem /* 40/100 */;
}
.desc dt,
.relate dt {
  font-size: 0.32rem /* 32/100 */;
  line-height: 0.42rem /* 42/100 */;
  color: #333;
  margin-bottom: 0.3rem /* 30/100 */;
}
.desc dd,
.relate dd {
  font-size: 0.24rem /* 24/100 */;
  color: #6d6d6d;
  line-height: 0.42rem /* 42/100 */;
}
.desc dd a,
.relate dd a {
  color: #6d6d6d;
  text-decoration: none;
}
