@import 'base.styl'
.accountInfo-box
    width 100%
    height 1.97rem /* 197/100 */
    background url('../img/section/accountInfo-bg.png')
    background-size cover
    background-position center
    position relative
    .status
        width 6.9rem /* 690/100 */
        height 1rem /* 100/100 */
        position absolute
        bottom 0
        left 50%
        transform translateX(-50%)
        background #FFFFFF
        box-shadow 0px 7px 14px 0px rgba(0,118,255,0.15)
        border-radius .14rem /* 14/100 */
        display flex
        align-items center
        padding 0 .4rem /* 40/100 */
        .boundStatus
            width .24rem /* 24/100 */
            height .24rem /* 24/100 */
            display block
            margin-right .2rem /* 20/100 */
        .bound
            background url('../img/icon/bound-icon.png')
            background-size .24rem /* 24/100 */
        .unbound
            background url('../img/icon/unbound-icon.png')
            background-size .24rem /* 24/100 */
        .status-text
            font-size .26rem /* 26/100 */
            color #333
            flex 1
        .status-btn
            width 1.4rem /* 140/100 */
            height .5rem /* 50/100 */
            line-height .5rem /* 50/100 */
            outline none
            border-radius .14rem /* 14/100 */
            background #0076FF
            font-size .24rem /* 24/100 */
            color #fff
            border 0
        .hiddenAccount
            display block
            width .32rem /* 32/100 */
            height .32rem /* 32/100 */
            background url('../img/icon/hiddenAccount-icon.png')
            background-size .32rem /* 32/100 */.32rem /* 32/100 */
.main
    dl
        margin .4rem /* 40/100 */0
        dt
            font-size .28rem /* 28/100 */
            color #6D6D6D
            line-height .37rem /* 37/100 */
        dd ul
            padding .4rem /* 40/100 */ 0
            display flex
            justify-content flex-start
            border-bottom .02rem /* 2/100 */ solid #E9E9E9
            li a
                display inline-block
                width 1.74rem /* 174/100 */
                height 1.25rem /* 125/100 */
                text-decoration none
                text-align center
                img
                    height .64rem /* 64/100 */
                    width .64rem /* 64/100 */
                span
                    display block
                    font-size .24rem /* 24/100 */
                    color #333
                    margin-top .3rem /* 30/100 */